.ErrorWrapper {
	background-color: #000;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ErrorImage {
	width: 35em;
}

.errorButton {
	margin-top: 1em;
	width: 10em;
	height: 50px;
	border-radius: 10px;
	font-size: 25px;
	padding: 0;
	font-weight: 600;
	color: white;
	background-color: lightgreen;
	border: 2px solid lightgreen;
}
.errorButton:hover {
	cursor: pointer;
	background-color: cornflowerblue;
	border-color: cornflowerblue;
}

.ErrorPage div {
	display: flex;
	align-items: center;
	justify-content: center;
	color: chartreuse;
	text-align: center;
	font-size: 8rem;
	text-transform: uppercase;
	font-family: 'Monoton', cursive;
	word-spacing: 4rem;
	letter-spacing: 13px;
	text-shadow: 0 0 80px green, 0 0 30px lightgreen, 0 0 6px lightgreen;
	position: relative;
}
.errorText {
	margin-top: 1.5em;
	font-size: 3rem;
	font-family: serif;
	color: white;
}

@media (max-width: 800px) {
	.ErrorPage div {
		font-size: 4rem;
	}
	.ErrorImage {
		display: none;
	}
	.errorText {
		font-size: 2rem;
	}
}

.R {
	animation-name: blink;
	animation-duration: 11s;
	animation-delay: 4s;
	animation-iteration-count: infinite;
}

.ErrorPage div span:nth-of-type(2) {
	animation: slowBlink 15s linear infinite;
}

.off {
	color: #336106;
	text-shadow: none;
}

#hangEdge {
	display: inline-block;
	animation: hang 5s linear forwards;
	/* animation-delay: 10s; */
	margin: 0;
}

#hangEdge span {
	animation: slowBlink 15s linear infinite;
	animation-delay: 13s;
}

@keyframes blink {
	0%,
	12%,
	18.999%,
	23%,
	31.999%,
	37%,
	44.999%,
	46%,
	49.999%,
	51%,
	58.999%,
	61%,
	68.999%,
	71%,
	85.999%,
	96%,
	100% {
		text-shadow: 0 0 80px green, 0 0 30px lightgreen, 0 0 6px lightgreen;
		color: chartreuse;
	}
	19%,
	22.99%,
	32%,
	36.999%,
	45%,
	45.999%,
	50%,
	50.99%,
	59%,
	60.999%,
	69%,
	70.999%,
	86%,
	95.999% {
		color: chartreuse;
		text-shadow: none;
	}
}

@keyframes slowBlink {
	0%,
	12%,
	18.999%,
	23%,
	31.999%,
	37%,
	44.999%,
	46%,
	49.999%,
	51%,
	58.999%,
	61% {
		text-shadow: 0 0 80px green, 0 0 30px lightgreen, 0 0 6px lightgreen;
		color: chartreuse;
	}
	19%,
	22.99%,
	32%,
	36.999%,
	45%,
	45.999%,
	50%,
	50.99%,
	59%,
	60.999%,
	69% {
		color: #336106;
		text-shadow: none;
	}
}

@keyframes hang {
	0%,
	1.99% {
		transform: rotate(-5deg);
	}
	2%,
	2.99% {
		transform: rotate(5deg);
	}
	3%,
	3.99% {
		transform: rotate(-5deg);
	}
	4%,
	4.99% {
		transform: rotate(5deg);
	}
	5%,
	5.99% {
		transform: rotate(-5deg);
	}
	6%,
	6.99% {
		transform: rotate(5deg);
	}
	7%,
	7.99% {
		transform: rotate(-5deg);
	}
	8%,
	8.99% {
		transform: rotate(5deg);
	}
	9%,
	9.99% {
		transform: rotate(-5deg);
	}
	10%,
	10.99% {
		transform: rotate(5deg);
	}
	14% {
		color: #336106;
		text-shadow: none;
	}
	40% {
		transform: rotate(230deg);
		transform-origin: 40% 75%;
	}
	75% {
		transform: rotate(170deg);
		transform-origin: 40% 75%;
	}
	100% {
		transform: rotate(200deg);
		transform-origin: 40% 75%;
	}
}
